{% extends 'base.html.twig' %}

{% block title %}Признаки для классов{% endblock %}

{% block body %}
    <h1>Признаки для классов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Класс</th>
                <th>Признак</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for kl_pr in kl_prs %}
            <tr>
                <td>{{ kl_pr.id }}</td>
                <td>{{ kl_pr.kl }}</td>
                <td>{{ kl_pr.Pr }}</td>

                <td>
                    <a href="{{ path('kl_pr_show', {'id': kl_pr.id}) }}">Просмотр</a>
                    <a href="{{ path('kl_pr_edit', {'id': kl_pr.id}) }}">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kl_pr_new') }}">Новая запись</a>
{% endblock %}
