{% extends 'base.html.twig' %}

{% block title %}Область значений для признаков{% endblock %}

{% block body %}
    <h1>Область значений для признаков</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Значение</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for prizna_area in prizna_areas %}
            <tr>
                <td>{{ prizna_area.id }}</td>
                <td>{{ prizna_area.Zn }}</td>
                <td>
                    <a href="{{ path('prizna_area_show', {'id': prizna_area.id}) }}">Просмотр</a>
                    <a href="{{ path('prizna_area_edit', {'id': prizna_area.id}) }}">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prizna_area_new') }}">Новая запись</a>
{% endblock %}
