{% extends 'base.html.twig' %}

{% block title %}PriznaArea{% endblock %}

{% block body %}
    <h1>PriznaArea</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prizna_area.id }}</td>
            </tr>
            <tr>
                <th>Zn</th>
                <td>{{ prizna_area.Zn }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prizna_area_index') }}">back to list</a>

    <a href="{{ path('prizna_area_edit', {'id': prizna_area.id}) }}">edit</a>

    {{ include('prizna_area/_delete_form.html.twig') }}
{% endblock %}
