{% extends 'base.html.twig' %}

{% block title %}Значение для прзнака{% endblock %}

{% block body %}
    <h1>Значение для признака</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zn_pr.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ zn_pr.priznaArea }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('zn_pr_index') }}">back to list</a>

    <a href="{{ path('zn_pr_edit', {'id': zn_pr.id}) }}">edit</a>

    {{ include('zn_pr/_delete_form.html.twig') }}
{% endblock %}
