{% extends 'base.html.twig' %}

{% block title %}Признаки{% endblock %}

{% block body %}
    <h1>Признаки</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for prizn in prizns %}
            <tr>
                <td>{{ prizn.id }}</td>
                <td>{{ prizn.name }}</td>
                <td>
                    <a href="{{ path('prizn_show', {'id': prizn.id}) }}">Просмотр</a>
                    <a href="{{ path('prizn_edit', {'id': prizn.id}) }}">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prizn_new') }}">Новая запись</a>
{% endblock %}
